<footer class="bg-gray-800 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0 text-center md:text-left">
        <h3 class="text-xl font-bold">Beau Matsobane Monese</h3>
   
      </div>
      
      <div class="flex space-x-6 mb-4 md:mb-0">
        <a href="beaumonesem@gmail.com" 
           class="text-gray-400 hover:text-white transition-colors text-xl">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://github.com/Beau720" 
           class="text-gray-400 hover:text-white transition-colors text-xl">
          <i class="devicon-github-plain colored"></i>
        </a>
        <a href="tel:+27677309589" 
           class="text-gray-400 hover:text-white transition-colors text-xl">
          <i class="fas fa-phone"></i>
        </a>
        <a href="https://www.linkedin.com/in/beau-monese-3888y4166" 
           target="_blank"
           class="text-gray-400 hover:text-white transition-colors text-xl">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      
      <div class="text-center md:text-right">
        <p class="text-gray-400">© {{ currentYear }} Beau Monese. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>